<%- include("partials/header.ejs") %>
<div class = "content">
<div class="container p-5">
    <div class="p-5 text-center">
        <h1>Hello World</h1>
        <p>My Name is Nasri and I create beautiful web applications. 
            
        <p>The goal of this project is to create a Blog web application using Node.js, Express.js, and EJS. The application will allow users to create and view blog posts.
    
        </p>
        Since this a simple blog application, I also add on edit and delete routes. To manage this, I make use of a JSON file to store the data when a new post is published. 
        <br>
        Site was created to demonstrate my ability from Angela Yu Web Development Course at this point of writing. 
        </p>
        <p>Here's the <a href ="">link</a> to the project files on GitHub</p>
    </div>
</div>
</div>
<%- include("partials/footer.ejs") %>